
$primary: #5f5aa2;
$secondary: #413f54;
$dark: #30292f;
$alt: #355691;
    
// import bootstrap
@import '~bootstrap/scss/bootstrap.scss';
// $primary: #7DE5ED;   
// $secondary: #81C6E8;
// $alt: #5DA7DB;
// $dark: #5837D0;