@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  position: relative;
  flex-direction: column;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: var(--bs-primary);
  color: aliceblue;
  display: grid;
  place-content: center;
  font-size: small;
}

.navbar-brand {
  text-decoration: none;
  transition: 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.searchbars input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 3px solid #ccc;
  border-color: var(--bs-secondary);
  border-radius: 50px;
  position: relative;
  top: 1rem;
  
}

.datebars input[type=text] {
  float: none;
  padding: 10px;
  border: none;
  font-size: 17px;
  border: 3px solid #ccc;
  border-color: var(--bs-secondary);
  border-radius: 50px;

  display: flex;
  position: relative;
  top: 10rem;
}

.ticketsearch[type=button] {
  margin: auto;
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  background-color: var(--bs-secondary);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  position: absolute;
  margin-top: 2.5rem;
}



.ticketLink[type=button] {
  margin: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: .5rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 50px;
  background-color: var(--bs-secondary);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  align-items: center;
  position: relative;
  float: right;
}

.Favorite[type=button] {
  margin: auto;
  margin-right: 1rem;
  margin-bottom: .2rem;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: .5rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  border-radius: 50px;
  background-color: var(--bs-secondary);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  align-items: center;
  position: relative;
  float: right;
}


.ticketsearch:active, .roundtrip:active, .oneway:active, .ticketLink:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.buttonPosition {
  text-align: center;
  float: left;
}

.checkboxContainer {
  position: absolute;
  margin-bottom: 25rem;
  display: block;
  padding: 2px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
@media screen and (max-width: 768px) {
  .searchbars[type=text],
  .datebars[type=text] {
    float: left;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

.wizLogo {
  height: 332px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.wizard_div {
  position: absolute;
  margin-bottom: 25rem;
}

section {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.flightHistory {
  box-sizing: border-box;
  width: 30rem;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.flightHistoryItem {
  padding-right: 1rem;
}

.styleAbout {
  width:60%;
  background-color: rgb(197, 197, 197);
  color: rgb(0, 0, 0);
}

.aboutHeader {
  flex-direction: column;
  display: flex;
  position: absolute;
  align-items: center;
  margin-bottom: 30rem;
}

.meetTeam {
  font-size:32pt;
}

.meetTeamInfo {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  position: relative;
}

.imageBox{
  width: 300px;
  height: 300px;
  display: flex;
}

.textbox{
  height: 40px;
  width: 225px;
  margin-right: 75px;
  border: 3px solid #5f5aa2;
  color: black;
  text-align: center;
}

.textBoxPosition {
  display: flex;
  justify-content: center;
  position: relative;
}