@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.home {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background-color: var(--bs-primary);
  color: aliceblue;
  display: grid;
  place-content: center;
  font-size: small;
}

.navbar-brand {
  text-decoration: none;
  transition: 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.searchbars input[type=text] {
  float: none;
  padding: 10px;
  border: none;
  font-size: 17px;
  border: 3px solid #ccc;
  border-color: var(--bs-secondary);
  border-radius: 50px;

  display: flex;
  position: relative;
  top: 2rem;
}

.datebars input[type=text] {
  float: none;
  padding: 10px;
  border: none;
  font-size: 17px;
  border: 3px solid #ccc;
  border-color: var(--bs-secondary);
  border-radius: 50px;

  display: flex;
  position: relative;
  top: 2rem;
}

.ticketsearch[type=button] {
  margin: auto;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 50px;
  background-color: var(--bs-secondary);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  align-items: center;
  position: relative;
  margin-top: 14rem;
}

.ticketsearch:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.buttonPosition {
  text-align: center;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .searchbars[type=text],
  .datebars[type=text] {
    float: left;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .wizard_div {
    position: relative;
  }
}

.wizLogo {
  height: 332px;
  width: 600px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.wizard_div {
  position: absolute;
  margin-bottom: 25rem;
  /*
  height: 100%;
  margin-top: 5%;
  */
}

section {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}