@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  border: 1px solid white;
  margin: auto;
}

main {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: var(--bs-primary);
  color: aliceblue;
  display: grid;
  place-content: center;
  font-size: small;
}

.navbar-brand {
  text-decoration: none;
  transition: 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.2);
}

.searchbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.searchbar input[type=text] {
  border: 1px solid #ccc;
}


section {
  width: 100%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.styleAbout {
  width:60%;
  height:25%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(197, 197, 197);
  color: rgb(0, 0, 0);
  position:absolute;
  top: 100px
}

.imageBox{
  
  width: 250px;
  height: 300px;
  object-fit:cover;
  display: flex;
  position: absolute;
  top: 400px;
  left: 30px;
}

.imageBox2{
  
  width: 250px;
  height: 300px;
  object-fit:cover;
  display: flex;
  position: absolute;
  top: 400px;
  left: 450px;
}
.imageBox3{
  
  width: 250px;
  height: 300px;
  object-fit:cover;
  display: flex;
  position: absolute;
  top: 800px;
  left: 30px;
}
.imageBox4{
  
  width: 250px;
  height: 300px;
  object-fit:cover;
  display: flex;
  position: absolute;
  top: 800px;
  left: 450px;
}

.textbox{
  height: 40px;
  width: 382px;
  border: 3px solid blue; 
  background-color: black;
  color: white;
  justify-items: center;
  text-align: center;
  position: absolute;
  top: 700px;
  left: 30px;
}

.textbox2{
  height: 40px;
  width: 382px;
  border: 3px solid blue; 
  background-color: black;
  color: white;
  justify-items: center;
  text-align: center;
  position: absolute;
  top: 700px;
  left: 450px;
}

.textbox4{
  height: 40px;
  width: 382px;
  border: 3px solid blue; 
  background-color: black;
  color: white;
  justify-items: center;
  text-align: center;
  position: absolute;
  top: 1100px;
  left: 450px;
}

.textbox3{
  height: 40px;
  width: 382px;
  border: 3px solid blue; 
  background-color: black;
  color: white;
  justify-items: center;
  text-align: center;
  position: absolute;
  top: 1100px;
  left: 30px;
}




